body {
    font-family: 'Architects Daughter', cursive;
    background-color: black;
}
#container {
    width: 1500px;
    height: 900px;
    background-color: #f8f8f8;
    margin: 20px auto ;
    
}
#calculator {
    width: 500px;
    height: 800px;
    background-color: gray; 
    margin: 0 auto;
    top: 50px;
    position: relative;
    border-radius: 2rem;
    
}
#result {
    height: 200px;
}
#keyboard {
    height: 600px;
}
#history {
    text-align: right;
    height: 30px;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 20px;
    color: honeydew;

}
#output {
    text-align: right;
    height: 70px;
    margin: 10px 20px;
    font-size: 40px;
}
.operator, .number, .empty {
    float: left;
    width: 93px;
    height: 90px;
    margin: 15px;
    border-radius: 50%;
    border-width: 0;
    font-size: 20px;
    font-weight: bold;
}
.number, .operator {
    cursor: pointer;
}
.number, .empty {
    background-color: grey;
} 
.operator:active, .number:active{
    font-size: 35px;
}
.operator:focus, .number:focus, .empty:focus{
    outline: 0;
}
button:nth-child(4){
    font-size: 30px;
    background-color: #20b2aa;
}
button:nth-child(8){
	font-size: 30px;
	background-color: #ffa500;
}
button:nth-child(12){
	font-size: 30px;
	background-color: #f08080;
}
button:nth-child(16){
	font-size: 30px;
	background-color: #7d93e0;
}
button:nth-child(20){
	font-size: 30px;
	background-color: #9477af;
}
#txt {
    text-align: center;
    color: white;
    font-size: large;
    font-weight: bold;
}